    .logo {
        box-shadow: 1px 1px 0px 0px black, 2px 2px 0px 0px black, 3px 3px 0px 0px black, 4px 4px 0px 0px black, 5px 5px 0px 0px black;
        border: 3px solid black;
    }

    .button-raised {
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 2px;
        background-color: lightgrey;
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        border: 3px solid;
        padding: 0.25em 0.5em;
        margin: 5px;
        box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-raised:active {
        box-shadow: 0px 0px 0px 0px;
        top: 5px;
        left: 5px;
    }

    .button-raised:disabled {
        pointer-events: none;
        background-color: chocolate;
    }

    .button-raised-mute.muted {
        background-color: darkred;
    }

    /* CSS for hiding the alert initially */
#player-alert {
    display: none;
  }
  