<div class="d-flex justify-content-center align-items-center mt-3">

<div class="card mx-auto" style="width: 24rem;">
  
    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading">What is this?!</h4>
      <p>Time-delayed BBC Radio for the Americas. Choose a timezone and station above to listen! It works on desktop and mobile.</p>
    </div>
   
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Mobile Users</h4>
      <p>You can also use the direct audio link formatted like this:<br><a href="https://bbcradiorelay.net:8443/radio_one/8" class="alert-link">https:/bbcradiorelay.net:8443/radio_one/8</a><br><br>'VLC' and 'Replaio' are good Android apps. If that doesn't work, try the HTTP endpoint: `http://bbcradiorelay.duckdns.org:8000/6music/8`</p>
    </div>

  </div>
</div>

</div>
