<div class="d-flex justify-content-center align-items-center mt-3">

<div class="card mx-auto" style="width: 24rem;">
  
    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading">What is this?!</h4>
      <p>Time-delayed BBC Radio for the Americas. Choose a timezone and station above to listen! It works on desktop and Android (see note below).</p>
    </div>

    <div class="alert alert-dark" role="alert">
      <h4 class="alert-heading"></h4>
      <p>The Dark Reader browser extension may conflict with my Dark Mode - try disabling it.</p>
    </div>
    
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Mobile Users</h4>
      <p>You will need to open the stream in an external app like VLC until I find a workaround for the audio preloading restriction in iOS. Android has fewer issues with this. See a <a href="http://marcokstephen.github.io/mobileguide.html" class="alert-link">detailed guide here.</a></p>
    </div>

  </div>
</div>

</div>