<link rel="stylesheet" href="style.css">

<div class="d-flex justify-content-center align-items-center mt-3">
  <div id="player-warning" style="display:none;" class="alert alert-warning " role="alert">
    <small id="player-src1" class="player-src1"></p>
  </div>
  <div id="player-error" style="display:none;" class="alert alert-danger " role="alert">
    <small id="player-src2" class="player-src2"></p>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center mt-3">
    <a id="logo-link" href="#">
        <img class="logo" src="../media/{{ station.stn_name }}/128x128.png">
    </a>
</div>
<div class="d-flex justify-content-center align-items-center mt-3">
    <audio id="player" volume="0.5" preload="auto" playsinline></audio>
    <button id="vol_minus" class="button-raised vol_con" style="display: none" role="button">−</button>
    <button class="button-raised button-raised-mute vol_con" style="display: none" role="button">Mute</button>
    <button id="vol_plus" class="button-raised vol_con" style="display: none" role="button">+</button>
    <button id="start-button" class="button-raised" role="button" style="display: none;">Tune in!</button>
    <button id="loading-button" class="button-raised" role="button" style="background-color: chocolate;" disabled>Loading . . .</button>
</div>

<script>
// DOMContentLoaded event handler
document.addEventListener('DOMContentLoaded', function() {
  var player = document.getElementById('player');
  var volMinusBtn = document.getElementById('vol_minus');
  var muteBtn = document.querySelector('.button-raised-mute');
  var volPlusBtn = document.getElementById('vol_plus');
  var startBtn = document.getElementById('start-button');
  var loadingBtn = document.getElementById('loading-button');
  var logoLink = document.getElementById('logo-link');

  var firstSource = location.origin + ":8080/{{ station.stn_name }}/{{ station.tz_offset }}";
  var secondSource = "https://bbcradiorelay.net:8443/{{ station.stn_name }}/{{ station.tz_offset }}";
  var thirdSource = "http://bbcradiorelay.net:8080/{{ station.stn_name }}/{{ station.tz_offset }}";
  var localSource = '../media/radio-static-2.mp3';
  
  var sources = [firstSource, secondSource, thirdSource]; // Array of sources to try
  
  var sourceIndex = 0;
  
  function loadNextSource() {
    player.src = sources[sourceIndex];
    player.load();
    player.addEventListener('error', handleSourceError);
  }
  
function handleSourceError() {
  player.removeEventListener('error', handleSourceError); // Remove the event listener
  sourceIndex++;
  if (sourceIndex < sources.length) {
    loadNextSource();
  } else {
    player.src = localSource;
    player.volume = 0.1; // Set volume to 0.1 for mp3 fallback
    player.loop = true; // Enable loop for mp3 fallback
    player.play();
    //loadingBtn.style.display = 'none';
    //startBtn.style.display = 'block';
    document.getElementById('player-src2').textContent = 'No valid audio source was found.';
    document.getElementById('player-error').style.display = 'block';
  }
};

loadNextSource();

loadingBtn.style.display = 'block';

// 'canplaythrough' event handler
player.addEventListener('canplaythrough', function() {
  setTimeout(function() {
    startBtn.style.display = 'block';
    loadingBtn.style.display = 'none';
    if (sourceIndex === 1) {
      document.getElementById('player-src1').textContent = 'Second Audio Source Used: ' + player.src;
      document.getElementById('player-warning').style.display = 'block';
    } else if (sourceIndex === 2) {
      document.getElementById('player-src1').textContent = 'Third Audio Source Used: ' + player.src;
      document.getElementById('player-warning').style.display = 'block';
    }
    player.removeEventListener('error', handleSourceError); // Remove the event listener after 'canplaythrough' event
  }, 0);
});

    // 'click' event handler for start button
    startBtn.addEventListener('click', function() {
        player.play();
        document.querySelectorAll('.vol_con').forEach(function(element) {
            element.style.display = 'block';
        });
        this.style.display = 'none';
    });

    // 'click' event handler for volume minus button
    volMinusBtn.addEventListener('click', function() {
        player.volume = Math.max(0.1, player.volume - 0.1);
    });

    // 'click' event handler for mute button
    muteBtn.addEventListener('click', function() {
        player.muted = !player.muted;
        if (player.muted) {
            this.classList.add('muted');
        } else {
            this.classList.remove('muted');
        }
    });

    // 'click' event handler for volume plus button
    volPlusBtn.addEventListener('click', function() {
        player.volume = Math.min(1, player.volume + 0.1);
    });

    // 'click' event handler for logo link
    logoLink.addEventListener('click', function(event) {
        event.preventDefault();
        navigator.clipboard.writeText(player.src)
            .then(function() {
                alert('Audio source URL copied to clipboard!');
            })
            .catch(function(error) {
                console.error('Failed to copy audio source URL to clipboard:', error);
            });
    });
});
</script>